.footer {
    display: flex;
    width: 100%;
    background: #fff;
    border-top: 1px solid #f4f5f5;
    @media (min-width: 980px) {
        padding: 20px 0;
        justify-content: center;
        .ant-row {
            width: 960px;
        }
    }
    @media (max-width: 980px) {
        padding: 20px 10px;
        .ant-row {
            flex: 1 1 auto;
        }
    }
    .ant-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}