.navigator {
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  color: #909090;
  height: 5rem;
  .countainer {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    .login-state {
      display: flex;
      justify-content: center;
      align-items: center;
      .ant-dropdown-link {
        padding: 1rem 0;
      }
      .anticon-down {
        padding-left: 3px;
        color: rgb(217, 217, 217);
        font-size: 10px;
      }
      .unlogin {
        font-size: 1.3rem;
        color: #007fff;
        cursor: pointer;
        .login:after {
          content: "\B7";
          margin: 0 .4rem;
        }
      }
    }
    .user-bar {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }
  @media (min-width: 980px) {
    .countainer {
      max-width: 960px;
      height: 100%;
  
      .icon {
        height: 40px;
        width: 123px;
        margin-right: 2rem;
      }
      .mobile-nav {
        display: none;
      }
      .search {
        color: #71777c;
        padding: 1.2rem;
        font-size: 1.33rem;
        cursor: pointer;
      }
  
      .ant-menu-item a {
        font-size: 1.33rem;
      }
    }
  }
  @media (max-width: 980px) {
    .countainer {
      width: 96%;
      height: 100%;
      .mobile-nav {
        display: flex;
        color: #007fff;
        font-size: 1.3rem;
        justify-content: center;
        align-items: center;
        padding: 1.3rem 1.5rem;
      } 
      .ant-menu {
        display: none;
      }
      .search {
        display: none;
      }
    }
  }
}
.ant-dropdown .mobile-menu, .ant-dropdown .user-bar-menu {
  padding: 5px 0;
  .ant-dropdown-menu-item-divider{
    margin: 5px 0;
  }
  .ant-dropdown-menu-item {
    &.ant-dropdown-menu-item-selected {
      background: #fff;
      a {
        background: #fff;
      }
    }
    &:hover {
      background-color: hsla(0,0%,95%,.5);
    }
    a {
      display: inline-block;
      margin: 0 5px;
      padding: 5px 0;
      font-size: 1.3rem;
    }
  }
}
