{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-async-to-generator",
    "universal-import",
    ["import", {
      "libraryName": "antd",
      "style": true
    }]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
